<!DOCTYPE html>
<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<html>

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<meta charset="utf-8" />
	{% if node is defined %}
	<title>Node [[{{node.qstr}}]] in {{config['URI_BASE']}}</title>
	{% else %}
	<title>Agora</title>
	{% endif %}
	<!-- This Agora is: {{config['URI_BASE']}} -->
	{% if 'dev.' in config['URI_BASE'] %}
	<!-- This is a development Agora, so it's likely better if it's not indexed (it might not be up most of the time). -->
	<meta name="robots" content="noindex" />
	{% endif %}
	<meta name="description" content="The Agora is a crowdsourced distributed knowledge graph: {{config['URI_BASE']}}." />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="search" type="application/opensearchdescription+xml" title="Agora" href={{url_for('agora.search_xml')}}>
	<link rel="stylesheet" type="text/css"
		href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
	<link rel="stylesheet" media="screen" type="text/css"
		href="{{ url_for('static',filename='css/screen-light.css')}}?uncached155" id="theme-link" />

	<script>
		const APIBASE = "{{config['API_BASE']}}"
		const AGORANAME = "{{config['URI_BASE']}}"
		const AGORAURL = "{{config['URL_BASE']}}"
	</script>

	{% if node is defined %}
	<script>
		const NODENAME = "{{node.uri}}"
		const WIKILINK = "{{node.wikilink}}"
		const NODEDESC = "{{node.description}}"
	</script>
	{% endif %}

	{% if not embed %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="//unpkg.com/force-graph"></script>

	<!-- 
			{
				"externalContainerSelector": "#hypothesis-frame",
				"openSidebar": true,
			}

	<script type="application/json" class="js-hypothesis-config">
	</script>
	-->
	<script async src="https://hypothes.is/embed.js"></script>
	{% endif %}

</head>

<body>
	<nav>
		<div class="navigation">
			<div class="navigation-links">
				<a href="/"><img src="/static/img/agora.png" class="logo" width="35px" height="35px"></a>
                <a href="/"><strong>{{config['URI_BASE']}}</strong></a>
                <!-- ⸖ this is called a [[diple]], particularly [[Diple periestigmene]] -->
                <strong>|</strong>
				<a href="/nodes" style="text-decoration: none;">📚&nbsp;all nodes</a>
				|
				<a href="/latest" style="text-decoration: none;">🌀&nbsp;latest</a>
				|
				<a href="/today" style="text-decoration: none;">📅&nbsp;today</a>
				|
				<a href="/random" style="text-decoration: none;">🎲️&nbsp;random</a>
				|
				<a href="/journals" style="text-decoration: none;">📔&nbsp;journals</a>
                |
                <a href="/annotations" style="text-decoration: none;">✍&nbsp;annotations</a>
                |
				<a href="/users" style="text-decoration: none;">🫂&nbsp;users</a>
                |
                <a href="/join" style="text-decoration: none;">🙏&nbsp;join</a>
                <strong>|</strong>
                <a href="/settings" style="text-decoration: none;">⚙️ </a>
				|
				<a href="#" style="text-decoration: none;" id="theme-toggle">🌙</a>
				|
				<a href="/agora-help" style="text-decoration: none;" class="help-button">❓</a>
			</div>

			<hr />

			<div class="topline-node">
				<div class="topline-node-wrapper">
					<div class="topline-query">
						<button id="mini-cli-exec" value="exec" title="Searches known Agoras">search</button>
					</div>
					<div class="topline-cli">
						<form action="/exec" method="get">
							<input id="mini-cli" type="text" value="{{node.qstr}}" name="q">
						</form>
					</div>
					<button id="mini-cli-clear" value="clear" title="Clears the query box">clear</button>
					<button id="mini-cli-go" value="go" title="Redirects to a [[go]] link if one is found">go</button>
				</div>

				<hr />

				<div class="topline-search">
					<strong>↳ on the Internet → </strong>
					<a href="https://www.google.com/search?q={{node.q}}">Google</a>
					· <a href="https://www.duckduckgo.com/{{node.q}}">DuckDuckGo</a>
					· <a href="https://searx.bar/search?q={{node.q}}&categories=general&language=en-US">Searx</a>
					· <a href="https://twitter.com/search?q={{node.q}}%20filter%3Afollows%20-filter%3Areplies&src=typed_query&f=live">Twitter</a>
					· <a href="https://github.com/search?q={{node.q}}">Github</a>
				</div>

				<div class="topline-agora">
					<strong>↳ in this <a href="{{config['URL_BASE']}}" title="{{config['NAME']}}">Agora</a> ⬎</strong>
					<div>
						<button id="pull-all" value="pull-all" title="Pulls embeds below">pull all</button>
						<button id="fold-all" value="fold-all" title="Folds embeds below">fold all</button>
					</div> 
				</div>

			</div>
		</div>

	</nav>

	<!-- hypothesis -->
	<div id='hypothesis-frame' style="display: none;""></div>

	{% block content %}
	{% endblock %}

	<!-- Thank you [[vera]] for this contribution! -->
	<div id='popup'>{{popup|default("What could we show here?")}}</div>


	{% if not embed %}
	<hr>
	<!-- __EXECTIME__ and __NOW__ get replaced in after_request. -->
	<div id='footer'>
		This page was served by the <a href="{{config['URL_BASE']}}">{{config['NAME']}}</a> in <strong>__EXECTIME__ seconds</strong> on <strong>__NOW__</strong>.
		May you be happy!
	</div>

	{% endif %}
	<script type=text/javascript src="{{url_for('static', filename='js/index.js')}}"></script>


</body>

</html>
