<!-- <div class="context"> now meant to be loaded async through /context/x -->

<div class="context-header"><span>⥱ Context for <a href="/{{node}}">[[{{node.qstr}}]]</a></span></div>

{% if node.back_nodes or node.pushing_nodes or node.pulling_nodes or node.forward_nodes %}

{% include "graph.html" %}

{% include "links.html" %}

{% else %}

No context found.

{% endif %}

