<!--
 Copyright 2021 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

{% if not node.subnodes and not node.pushed_subnodes() %}
<div class="node" id="{{node.uri}}">
    <div class="node-header main-header"><span>📚 Node <a href="/{{node}}" title="A node in {{config['NAME']}}.">[[{{node.qstr}}]]</a></span></div>
    <div class="not-found subnode" data-author="agora">
           <strong>Nobody has noded "<em>{{node.qstr}}</em>" yet.</strong>

           <p>You can contribute in the following ways:

            <ul>
            <li>
                <strong>Write something anonymously.</strong>
                <ul>
                <li>
                Please feel free to write something in a Stoa. At least one such public document can be found in every Agora location.
                </li>
                </ul>
            </li> 
            <li>
                <strong><a href="/sign-up">Sign in</a> to contribute your self-hosted writing.</strong>
                <ul>
                    <li>You can contribute resources directly from your blog, digital garden or personal wiki into the Agora <a href="/knowledge-commons">Knowledge Commons</a>.
                    <li>Some setup required :) Please <a href="/agora-discuss">reach out</a> if interested and we'll try to help!</li>
                </ul>
                </li>
            </li>
            <li>
                <strong>Contribute posts from social media.</strong>
                <ul>
                <li>
                If you interact with an <a href="/agora-bot">Agora bot</a> on Twitter, Mastodon or Matrix and mention a <a href='/node'>node</a> like [[<a href="/{{node.qstr}}">{{node.qstr}}</a>]], the Agora will try to link your post in the matching nodes and optionally save a copy of your writing.
                </li>
                </ul>
            </li> 
           </ul>
        </p>
           <span>The Agora will try to surface related nodes below.</span>
    </div>

{% endif %} <!-- node without subnodes -->
<!-- node div left open to share context code with the next case -->

{% if node.subnodes or node.pushed_subnodes() %}
    <div class="node" id="{{node.uri}}">

        {% if subnode %}
            <div class="node-header main-header">
                <span>📚 Node <a href="/{{node.uri}}">[[{{node.uri}}]]</a> <br /> 
                   ↳ 📓 Subnode <a href="/{{node.qstr}}">[[{{node.qstr}}]]</a>
                </span>
            </div>
        {% else %}
            <div class="node-header main-header">
                <span>📚 Node <a href="/{{node}}" title="A node is a collection of resources with a matching name or an explicit relationship to a context.">[[{{node.qstr}}]]</a>
                </span>
            </div>
            <!--
            <span class="node-actions">
                <button id="pull-all" value="pull-all" title="Pulls embeds below">pull all</button>
                <button id="fold-all" value="fold-all" title="Folds embeds below">fold all</button>
            </span> 
            -->
        {% endif %} 

        {% for subnode in node.subnodes %}
            <div class="subnode" data-author="{{subnode.user}}" id="subnode-{{loop.index}}">
                <div class="subnode-header">
                    <span class="subnode-id">
                        <span class="subnode-links">
                            <a href="@{{subnode.user}}/{{node.uri}}"" title="subnode {{subnode.basename}}">📓</a> 
                            <a href="/raw/{{subnode.uri}}"><tt title="{{subnode.uri}}">{{subnode.basename}}</tt></a> ({{subnode.type}}) by <a href="/@{{subnode.user}}">@<span class="subnode-user">{{subnode.user}}</span></a>
                        </span>
                    </span>

                    <span class="subnode-contrib">
                        <!-- 
                        <a href="/raw/{{subnode.uri}}" style="text-decoration: none;" title="view original (source)"></a>
                        <a href="/export/@{{subnode.user}}/{{node.uri}}" style="text-decoration: none;" title="export (html)">⤓</a>
                    -->
                        {% if subnode.web %}
                            <a href="{{subnode.web}}" title="view original (website)" style="text-decoration: none;">️本</a> 
                        {% endif %}
                        {% if subnode.edit %}
                            <a href="{{subnode.edit}}" title="edit (external)" style="text-decoration: none;">📝</a>
                        {% endif %}
                        {% if subnode.support %}
                            <a href="{{subnode.support}}" title="support (user specified)">🤗</a>
                        {% endif %}
                        <button onClick="downvote('{{loop.index}}')" title="uprank this subnode">⇣</button>
                        <button onClick="upvote('{{loop.index}}')" title="uprank this subnode">⇡</button> 
                        </span>

                            </span>
                    </div>

            <span class="subnode-content">{{ subnode.render()|linkify|safe }}</span>

                <div class="subnode-footer">
                    <span class="footer-id">
                        <!--
                        <span class="footer-links">
                            <a href="/raw/{{subnode.uri}}"><tt title="{{subnode.uri}}">{{subnode.basename}}</tt></a> by <a href="/@{{subnode.user}}">@<span class="subnode-user">{{subnode.user}}</span></a>
                        </span>
                        -->
                        <strong>⸎ last updated</strong> {{subnode.datetime.astimezone()}}
                    </span>
                </div>

            </div>
        {% endfor %}

{% endif %} <!-- node with subnodes -->

    <div class="pushed-subnodes-embed">
        <em>Receiving pushes... (requires JavaScript)</em>
        <!-- removed from the sync rendering path as this is expensive (i.e. slow).
        interested clients can call GET /push/x to get all subnodes being pushed to x.

        some day maybe: POST/PUT to it to push ;)
        -->
    </div>

</div> <!-- closes node div-->


<script>
	function getAuthors(){
		const authors = $.map($(".subnode"), function(subnode){
			console.log(subnode)
			return $(subnode).data("author")
		})

		return authors
	}

	function saveAuthors(){
		const authors = getAuthors()
		const stringed = JSON.stringify(authors)
		localStorage[`authors-${NODENAME}`] = stringed
	}

	function loadAuthors(){
		const authors = localStorage[`authors-${NODENAME}`]
		if (typeof authors == 'undefined'){
			return
		}
		const parsed = JSON.parse(authors)
		return parsed
	}

	function sort(){
		let authors = loadAuthors()
		let first = authors.shift()
		const main = element(first)
		console.log(main)
		for(const author of authors){
			const ele = element(author)
			console.log(ele)
			ele.insertAfter(main)
			first = ele;
		}
	}

	function element(author){
		return $(`div[data-author='${author}']`);
	}

	function downvote(n){
		const sn = $(`#subnode-${n}`)
		const next = sn.next()
		sn.insertAfter(next)
		saveAuthors()
	}

	function upvote(n){
		const sn = $(`#subnode-${n}`)
		const prev = sn.prev()
		sn.insertBefore(prev)
		saveAuthors()
	}


	$(function(){
		sort();
	})
</script>
