<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

{% extends "base.html" %}

{% block content %}
<div class="listing node">
    
{% if header %}
<h1> {{header}} </h1>
{% else %}
<h1> Nodes </h1>
{% endif %}

{% if stats %}
<p>
This Agora contains <strong>{{stats['nodes']}} nodes</strong> integrated out of <strong>{{stats['subnodes']}} subnodes by <strong>{{stats['users']}} users</strong>.</strong><br />
There are <strong>{{stats['edges']}} links</strong>.
</p>

<div class='context-all'>
    <p>
    <em>Loading graph, please wait... (slow, requires JavaScript, may crash your browser tab)</em>
    </p>
</div>

{% endif %}

The <strong>top 1000 nodes</strong> by cardinality (number of resources attached) follow.<br />
{% for node in nodes[:1000] %}

<a href="{{node.url}}">{{node.wikilink}}</a> <span style="font-weight: lighter">({{node.size()}})</span>
<br />

{% endfor %}

</div>

{% endblock %}
