
<!--
 Copyright 2022 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

{% set pull_nodes = node.pull_nodes() %}
{% set auto_pull_nodes = node.auto_pull_nodes() %}

{% if not embed %}
{% for n in pull_nodes %}
<div class="pulled-node auto-pull">

    <div class="node-header"><span>⭕ portal to <a href="/{{n.uri}}">[[{{n.description}}]]</a> built by an Agora user
    <button class="pull-node auto-pull-button" value="{{n.uri}}">pull</button></span></div>
    <div class="pulled-node-embed" id="{{n.uri}}"></div>

</div>
{% endfor %}
{% endif %}

{% for n in auto_pull_nodes %}
<div class="pulled-node">
    <!-- <span class="node-header">⭕ wormhole to <a href="/{{n.uri}}">[[{{n.description}}]]</a> offered by the Agora</span> -->
    <div class="node-header"><span>⭕ portal to <a href="/{{n.uri}}">[[{{n.description}}]]</a> built by an Agora</span></div>

    {% if n.subnodes %}
    {% for subnode in n.subnodes %}

    <div class="pulled-subnode" data-author="{{subnode.user}}">
        <div class="subnode-header">
            <span class="subnode-id"><a
                    href="/@{{subnode.user}}/{{n.uri}}">📓</a>
            <span class="subnode-links"><a href="/raw/{{subnode.uri}}">{{subnode.uri}}</a> by <a
                    href="/@{{subnode.user}}">@<span class="subnode-user">{{subnode.user}}</span></span></a></span>
        </div>
        <span class="subnode-content">{{ subnode.render()|linkify|safe }}</span>
    </div>
    {% endfor %}
    {% else %}
    empty. <br />
    {% endif %}
</div>
{% endfor %}
