<!--
 Copyright 2021 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<div class="stoa">
    <div class="subnode-header"><span><strong title="A Stoa is a resource meant for collaboration.">🏛️ Stoas</strong> for <a href="/{{node}}">[[{{node.qstr}}]]</a></span></div>
        <div class="subnode">
        📖 Open document (Hedgedoc) at <a href="https://doc.anagora.org/{{node.uri}}?edit">https://doc.anagora.org/{{node.uri}}</a>
        <button id="pull-stoa" value="{{node.uri}}">pull</button>
        <div id="stoa-iframe"></div>
        <!-- pull-stoa2 is a yolo moment -->
        📖 Open document (Etherpad) at <a href="https://stoa.anagora.org/p/{{node.uri}}?edit">https://stoa.anagora.org/p/{{node.uri}}</a> <button id="pull-stoa2" value="{{node.uri}}">pull</button>
        <div id="stoa2-iframe"></div>
        📹 Video conferencing space (Jitsi Meet) at <a href="https://meet.jit.si/{{node.uri}}">https://meet.jit.si/{{node.uri}}</a>
        <button class="pull-url" value="https://meet.jit.si/{{node.uri}}">pull</button>
    </div>
</div>




